---
import BaseLayout from "../layout/BaseLayout.astro"
import '../styles/global.css' 
---
	<BaseLayout>
    <main>
        <h1>Welcome to the Home Page</h1>
        <p>This is the main content of the homepage.</p>
    </main>
	</BaseLayout>
